@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", Arial;
  height: 100vh;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 600px) {
  body {
    height: auto;
  }
}
body .container {
  max-width: 900px;
  width: 90%;
  border: 5px solid white;
  padding: 2rem;
  border-radius: 20px;
}
@media (max-width: 600px) {
  body .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0;
    border: none;
    padding: 0rem;
    width: 100%;
  }
  body .container * {
    width: 100%;
  }
}
body .container .search {
  padding: 1rem 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 600px) {
  body .container .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  body .container .search * {
    margin: 10px 0;
  }
}
body .container .search input {
  max-width: 100%;
  width: 100%;
  margin: 0 5px;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.301);
}
body .container .search input::placeholder {
  color: white;
}
body .container .search input:focus {
  box-shadow: none;
  outline: none;
}
body .container .search input.hot {
  background-image: linear-gradient(98.14deg, #eb5757 0.03%, #ed6c53 21.77%, #ef7e4f 47.2%, #f2994a 88.21%);
}
body .container .search input.day {
  background-image: linear-gradient(114.98deg, #2f80ed -20.15%, #56ccf2 116.16%);
}
body .container .search input.night {
  background-image: linear-gradient(117.2deg, #43275e -54.2%, #2f80ed 236.08%);
}
body .container .search button {
  padding: 1rem 0;
  min-width: 100px;
  width: 80px;
  margin: 0 5px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.301);
  transition: box-shadow 200ms;
}
body .container .search button:active {
  box-shadow: none;
}
body .container .search button.red {
  color: red;
}
body .container .search button.blue {
  color: #3077a7;
}
body .container .error {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: white;
  transition: all 1s ease-in-out;
}
body .container .display-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
@media (max-width: 600px) {
  body .container .display-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  body .container .display-info * {
    margin: 10px 0;
  }
}
body .container .display-info .temp {
  color: white;
}
@media (max-width: 600px) {
  body .container .display-info .temp {
    display: flex;
    justify-content: space-aroundcenter;
    align-items: row;
    flex-direction: row;
    width: max-content;
  }
  body .container .display-info .temp img {
    width: 40px;
    height: 40px;
  }
}
body .container .display-info .temp div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body .container .display-info .temp div * {
  margin: 12px 5px;
  width: max-content;
}
body .container .display-info .temp div .img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-position: contain;
}
body .container .display-info .temp div h1 {
  font-family: "Roboto Condensed", Arial;
  font-weight: 700;
  line-height: 1;
  font-size: clamp(2rem, 5vw, 4rem);
}
body .container .display-info .location * {
  color: white;
  margin: 5px 0;
  font-weight: 300;
}
body .container .display-info .location * * {
  line-height: 0;
}
@media (max-width: 600px) {
  body .container .display-info .location * {
    padding-left: 2rem;
  }
}
body .container .display-info .location h3 {
  font-size: 2rem;
}
body .container .display-info .location h6 {
  font-size: 1.3rem;
}
body .container .display-info .location h1 {
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 3rem);
}
body .container .display-info .extra-info {
  color: white;
}
body .container .display-info .extra-info div {
  margin: 10px 0;
}
body .container .display-info .extra-info div * {
  font-family: "Roboto Condensed", Arial;
  font-weight: 300;
  line-height: 0;
}
body .container .display-info .extra-info .feels {
  font-weight: 400;
  font-size: 1.6rem;
}
body .container .display-info .extra-info .feels .bold {
  font-size: 2rem;
}
body .container .display-info .extra-info .last-update {
  font-size: 1rem;
}
body .container .display-info .extra-info .last-update .bold {
  font-size: 1.3rem;
}
body .container .display-info .extra-info .wind-direction {
  font-size: 0.9rem;
}
body .container .display-info .extra-info .wind-direction .bold {
  font-size: 1rem;
}
body .container .display-info .extra-info .humid {
  font-size: 1rem;
}
body .container .display-info .extra-info .humid .bold {
  font-size: 1rem;
}
body .container .display-info .extra-info .current-date {
  font-size: 0.8rem;
}
@media (max-width: 600px) {
  body .container .display-info .extra-info {
    padding-left: 2rem;
  }
}
body .container .more-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
body .container .more-info * {
  color: white;
}
body .container .more-info h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: 10px 0;
  font-weight: 300;
}
body .container .more-info h1 .bold {
  font-size: clamp(1.5rem, 2vw, 2rem);
}
@media (max-width: 600px) {
  body .container .more-info {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
body .container .hours {
  padding: 1rem 0;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
body .container .hours .hour {
  color: white;
  margin: 0 10px;
}
body .container .hours .hour * {
  width: max-content;
}
body .container .hours .hour .temp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
}
body .container .hours .hour .temp .img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: cover;
}
body .container .hours .hour .temp h1 {
  font-size: 1.5rem;
  margin: 0 5px;
}
body .container .hours .hour .condition {
  font-weight: 400;
  font-size: 1rem;
  margin: 5px 0;
}
body .container .hours .hour .time {
  font-size: 0.9rem;
  font-weight: 300;
}

.bold {
  font-weight: 700 !important;
  font-size: 1.3rem;
  color: white;
}

.hot {
  background-image: linear-gradient(277.74deg, #eb5757 -20.32%, #ed6c53 10.22%, #ef7e4f 45.93%, #f2994a 103.54%);
}

.day {
  background-image: linear-gradient(290.8deg, #2f80ed 13.21%, #56ccf2 103.94%);
}

.night {
  background-image: linear-gradient(111.47deg, #2f80ed -3.61%, #324385 46.22%, #34193e 101.93%);
}

.hot,
.day,
.night,
body {
  background-size: 300%;
  animation: color 4s infinite alternate;
  transition: all 500ms ease-in-out;
}

/* width */
::-webkit-scrollbar {
  margin-top: 1rem;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.342);
}

@keyframes color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
