$hot-weather-color: linear-gradient(
	277.74deg,
	#eb5757 -20.32%,
	#ed6c53 10.22%,
	#ef7e4f 45.93%,
	#f2994a 103.54%
);
$hot-input: linear-gradient(
	98.14deg,
	#eb5757 0.03%,
	#ed6c53 21.77%,
	#ef7e4f 47.2%,
	#f2994a 88.21%
);

$normal-weather-color: linear-gradient(
	290.8deg,
	#2f80ed 13.21%,
	#56ccf2 103.94%
);

$normal-input: linear-gradient(
    114.98deg, 
    #2f80ed -20.15%, 
    #56ccf2 116.16%);

$night-weather-color: linear-gradient(
	111.47deg,
	#2f80ed -3.61%,
	#324385 46.22%,
	#34193e 101.93%
);

$night-input: linear-gradient(
    117.2deg, 
    #43275e -54.2%,
    #2f80ed 236.08%);

