@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

$font:'Sarabun', Arial;

$regular: 400;
$semi-bold: 600;
$bold: 700;
$italic: italic;
