@import "colors";
@import "fonts";

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@mixin flex($x: center, $y: center, $dir: row) {
	display: flex;
	justify-content: $x;
	align-items: $y;
	flex-direction: $dir;
}

body {
	font-family: $font;
	height: 100vh;
	padding: 2rem 0;

	@media (max-width: 600px) {
		height: auto;
	}

	@include flex();

	.container {
		max-width: 900px;
		width: 90%;

		border: 5px solid white;
		padding: 2rem;
		border-radius: 20px;

		@media (max-width: 600px) {
			@include flex(space-between, center, column);
			padding: 0;
			border: none;
			padding: 0rem;
			width: 100%;

			* {
				width: 100%;
			}
		}

		.search {
			padding: 1rem 10px;

			@include flex(space-between, center, row);

			@media (max-width: 600px) {
				* {
					margin: 10px 0;
				}
				@include flex(space-between, center, row);
			}

			input {
				max-width: 100%;
				width: 100%;
				margin: 0 5px;
				padding: 1.2rem 1.5rem;
				border: none;
				border-radius: 20px;

				color: white;

				font-size: 1rem;

				box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.301);

				&::placeholder {
					color: white;
				}
				&:focus {
					box-shadow: none;
					outline: none;
				}
			}
			input.hot {
				background-image: $hot-input;
			}
			input.day {
				background-image: $normal-input;
			}
			input.night {
				background-image: $night-input;
			}
			button {
				padding: 1rem 0;
				min-width: 100px;
				width: 80px;
				margin: 0 5px;

				border: none;
				border-radius: 20px;

				font-size: 1rem;
				font-weight: $bold;

				box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.301);
				transition: box-shadow 200ms;

				&:active {
					box-shadow: none;
				}
			}
			button.red {
				color: red;
			}
			button.blue {
				color: rgb(48, 119, 167);
			}
		}
		.error {
			font-size: 2rem;
			font-weight: $bold;
			text-align: center;
			color: white;
			transition: all 1s ease-in-out;
		}
		.display-info {
			@include flex(space-between, flex-start, row);

			@media (max-width: 600px) {
				* {
					margin: 10px 0;
				}
				@include flex(space-between, center, column);
			}
			.temp {
				color: white;
				@media (max-width: 600px) {
					@include flex(space-aroundcenter, row);
					width: max-content;

					img {
						width: 40px;
						height: 40px;
					}
				}

				div {
					@include flex(space-between, center, row);

					* {
						margin: 12px 5px;
						width: max-content;
					}
					.img {
						width: 50px;
						height: 50px;
						border-radius: 100px;
						background-size: 80%;
						background-position: center;
						background-repeat: no-repeat;
						background-position: contain;
					}
					h1 {
						font-family: $font;
						font-weight: $bold;
						line-height: 1;
						font-size: clamp(2rem, 5vw, 4rem);
					}
				}
			}
			.location {
				* {
					color: white;
					margin: 5px 0;
					font-weight: $light;

					* {
						line-height: 0;
					}
					@media (max-width: 600px) {
						padding: 0;
						padding-left: 2rem;
					}
				}
				@media (max-width: 600px) {
					padding: 0;
				}
				padding: 0 1rem;
				h3 {
					font-size: 1.5rem;
				}
				h6 {
					font-size: 1.3rem;
				}
				h1 {
					font-weight: $bold;
					font-size: clamp(2rem, 4vw, 2.3rem);
				}
			}
			.extra-info {
				color: white;

				div {
					margin: 10px 0;

					* {
						font-family: $font;
						font-weight: $light;
						line-height: 0;
					}
				}
				.feels {
					font-weight: $regular;
					font-size: 1.6rem;
					.bold {
						font-size: 2rem;
					}
				}
				.last-update {
					font-size: 1rem;
					.bold {
						font-size: 1.3rem;
					}
				}
				.wind-direction {
					font-size: 0.9rem;
					.bold {
						font-size: 1rem;
					}
				}
				.humid {
					font-size: 1rem;
					.bold {
						font-size: 1rem;
					}
				}

				.current-date {
					font-size: 0.8rem;
				}
				@media (max-width: 600px) {
					padding-left: 2rem;
				}
			}
		}

		.more-info {
			@include flex(space-around, center, row);
			* {
				color: white;
			}
			h1 {
				font-size: clamp(1.5rem, 2vw, 2rem);
				margin: 10px 0;
				font-weight: $light;

				.bold {
					font-size: clamp(1.5rem, 2vw, 2rem);
				}
			}
			@media (max-width: 600px) {
				padding-left: 2rem;
				@include flex(space-between, center, column);
			}
		}
		.hours {
            padding: 1rem 0 ;
			width: 100%;
			overflow-x: scroll;
			@include flex(flex-start, center, row);
			text-align: center;
			.hour {
				color: white;
				margin: 0 10px;
				text-align: center;
				* {
					width: max-content;
				}
				.temp {
					@include flex(center, center, row);
					margin: 5px 0;
					.img {
						width: 35px;
						height: 35px;
						border-radius: 100px;
						background-size: 80%;
						background-repeat: no-repeat;
						background-position: cover;
					}
					h1 {
						font-size: 1.5rem;
						margin: 0 5px;
					}
				}
				.condition {
					font-weight: $regular;
					font-size: 1rem;
					margin: 2px auto;
				}
				.time {
					margin: 0 auto;
					font-size: 0.9rem;
					font-weight: $light;
				}
			}
		}
	}
}

.bold {
	font-weight: $bold !important;
	font-size: 1.3rem;
	color: white;
}

.hot {
	background-image: $hot-weather-color;
}
.day {
	background-image: $normal-weather-color;
}
.night {
	background-image: $night-weather-color;
}

.hot,
.day,
.night,
body {
	background-size: 300%;
	animation: color 4s infinite alternate;
	transition: all 500ms ease-in-out;
}

/* width */
::-webkit-scrollbar {
	margin-top: 1rem;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 100px;
	background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(85, 85, 85, 0.342);
}

@keyframes color {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
