@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;

  position: relative;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;

    transform-origin: top left;
}

.container.rotate {
    transform: rotate(-20deg);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}
.content * {
    margin: 1rem;
}
.content img {
    width: 100%;
}
.content h1 {
    font-size: 3rem;
}
.content h3 {
    font-size: 2rem;
}
.content p {
    font-size: 1.5rem;
    line-height: 1.4;
}



.circle {
    background-color: rgb(226, 122, 122);
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 100%;

    top: -100px;
    left: -100px;

    transition: transform 500ms ease-out;
}
.circle .btns button {
    position: absolute;

    border:none;
    font-size: 2rem;;
    background: none;
    color: #fff;
    transform-origin: top left;


    bottom: 20%;

}

.circle .btns button#open {
    right: 20%;
}
.circle .btns button#close {
    left: 20%;
}

.circle.open {
    transform: rotate(-90deg);
}

nav {
    color: #fff;
    font-size: 1.5rem;

    position: fixed;
    bottom: 10%;
}

ul li {
    display: block;
    list-style-type: none;
    padding: 1rem 3rem;
    width: 100%;

    transition: transform 500ms;
}
ul li:hover {
    transform: translateX(10px);
}

ul li i {
    margin-right: 10px;
}